# Force C#
*.cs linguist-language=C#

# Ignore Unity generated YAML files completely
*.unity linguist-detectable=false
*.prefab linguist-detectable=false
*.mat linguist-detectable=false
*.asset linguist-detectable=false
*.anim linguist-detectable=false
*.meta linguist-detectable=false